# Ignore docs files
_gh_pages
_site
_build
.sass-cache

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
.idea
*.esproj
*.sublime-project
*.sublime-workspace
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/

# Folders to ignore
node_modules
bower_components
app/api/target/
app/web/public/**/*.css
app/web/public/**/*.js
app/web/public/**/*.map
app/web/public/app/index.html
app/web/public/app/views/*.html
app/web/src/sass/bootstrap
app/web/src/sass/bourbon
