// Bourbon Mixins
@import "bourbon/bourbon";

// ==# Tips on Writing Modular and Maintainable CSS styles
//
// 1. Maintainable: Readable Code
// 2. Maintainable: Declaration Order
// 3. Modular: Element Box Model
// 4. Modular: Element Modifier

$header-responsive-width: 330px;
$header-responsive-height: 360px;

html,
body {
  height: 100%;
  min-height: 100%;
}


// Header Section
ui-view > header {
  @include transition(width .4s ease, height .4s ease);
  color: #fff;
  background-color: $gray-dark;


  @include media-breakpoint-down(xs) {
    position: relative;
    width: 100%;
    height: $header-responsive-height;
    min-height: auto; // $header-responsive-height;
  }

  @include media-breakpoint-up(xs) {
    position: fixed;
    top: 0;
    left: 0;
    width: $header-responsive-width;
    height: 100%;
    min-height: 100%;
  }

  // Container
  > .container-fluid {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
  }

  // User Profile
  .card {
    &.card-profile {
      margin-left: ($grid-gutter-width / -2);
      margin-right: ($grid-gutter-width / -2);
      border-radius: 0;
      border: 0 none;
      background-color: transparent;
    }

    .card-block { position: relative; }

    .card-profile-picture {
      @extend .center-block;
      position: absolute;
      top: -50px;
      left: 50%;
      margin-left: -50px;
    }
  }

  .header-title {
    padding-left: $grid-gutter-width;   // ($grid-gutter-width / 2);
    padding-right: $grid-gutter-width;  // ($grid-gutter-width / 2);

    @include media-breakpoint-up(xs) {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}


// Footer Section
ui-view > footer {

  @include media-breakpoint-down(xs) {
    padding-left: 0;
  }

  @include media-breakpoint-up(xs) {
    padding-left: ($header-responsive-width + 15px);
  }
}


// Main Content Section
ui-view > [role="main"] {
  height: 94%;
  min-height: 94%;

  @include media-breakpoint-down(xs) {
    padding-top: $header-responsive-height;
    padding-left: 0;
  }

  @include media-breakpoint-up(xs) {
    padding-top: 0;
    padding-left: ($header-responsive-width + 15px);
  }
}
