<div class="container-fluid p-y-3">
  <div class="row">
    <div class="col-xs-12">
    </div><!-- end of .col-xs-12 -->

    <div class="col-xs-12 col-sm-8">
      <article ng-repeat="entry in blog.entries track by $index" ng-if="blog.entries && blog.entries.length > 0">
        <header class="p-y-2">
          <a ui-sref="app.default.blog({id: entry.id})">
            <h1 ng-bind="entry.title"></h1>
          </a>
        </header>
        <section class="p-y-2" ng-bind="entry.content"></section>
        <a class="btn btn-danger-outline m-y-2 pull-xs-right" ui-sref="app.default.blog({id: entry.id})">
          Continue Reading &nbsp;&rarr;
        </a>
        <div class="clearfix"></div>
        <hr ng-if="!$last">
      </article>

      <div ng-if="blog.alert" class="alert" ng-class="blog.alert.success ? 'alert-success' : 'alert-danger'">
        {{ blog.alert | json }}
      </div>

      <article ng-if="blog.entry && !blog.entries">
        <header class="p-y-2">
          <h1 ng-if="!blog.editMode" ng-bind="blog.entry.title"></h1>
          <form ng-submit="blog.editEntry(blog.entry)" ng-if="blog.editMode" class="form-inline">
            <div class="form-group">
              <label class="sr-only">Title</label>
              <input class="form-control form-control-lg" type="text" ng-model="blog.entry.title">
            </div>
            &nbsp;
            <button class="btn btn-lg btn-success" type="submit">Save</button>
            <button ng-click="blog.editMode = false" class="btn btn-lg btn-default" type="button">Cancel</button>
          </form>
          <small ng-if="!blog.editMode"><a ng-click="blog.editMode = true" href="#">Edit</a></small>
        </header>
        <section ng-if="!blog.editMode" class="p-y-2" ng-bind="blog.entry.content"></section>
        <form ng-submit="blog.editEntry(blog.entry)" ng-if="blog.editMode" class="p-y-2">
          <div class="form-group">
            <textarea ng-model="blog.entry.content" class="form-control" rows="6"></textarea>
          </div>
          <div class="text-xs-right form-group">
            <button class="btn btn-success" type="submit">Save</button>
            <button ng-click="blog.editMode = false" class="btn btn-default" type="button">Cancel</button>
          </div>
        </form>
      </article>

      <div class="block" ng-if="blog.entries && blog.entries.length <= 0">
        Nothing To See Here
      </div>
    </div><!-- end of .col-xs-12.col-sm-8 -->
  </div><!-- end of .row -->
</div><!-- end of .container-fluid -->
