<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">HEI Members Blogs</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-9">
      <div ng-show="blogs.alert" class="alert alert-danger m-t-3 m-b-3">
        <h5 class="m-b-1">Woops, Something went wrong.</h5>
      </div>
      <div class="blog-container" ng-repeat="blog in blogs.data">
        <h3 class="blog-title">{{ blog.title }}</h3>
        <p class="blog-content">{{ blog.content }}</p>
        <a href="/view/{{ blog.id }}" >View blog post</a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="blog-container">
        <p class="title">About</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>
