<div class="container-fluid p-y-3">
  <div class="row">
    <div class="col-xs-12 m-b-1" onclick="window.history.back()" ng-if="blog.entry && !blog.entries">
      <button class="btn btn-success-outline"><i class="ion-arrow-left-a"></i> Back</button>
    </div><!-- end of .col-xs-12 -->

    <div class="col-xs-12 col-md-8 col-lg-9">
      <article class="blog-container card m-b-2 b-r-0" ng-repeat="entry in blog.entries track by $index" ng-if="blog.entries && blog.entries.length > 0">
        <header class="p-a-1 b-r-0">
          <a ui-sref="app.default.blog({id: entry.id})">
            <h3 class="blog-header-title truncate truncate-1 m-b-0" ng-bind="entry.title"></h3>
          </a>
          <div class=" m-t-1">
            <img src="http://placehold.it/50/373A3C/ffffff" class="img-circle pull-xs-left m-r-1" alt="" />
            <p class="m-b-0"><small class="display-5 m-t-2">Posted By: TORO Dev</small></p>
            <small class="display-6 m-t-2">Posted on: February 10, 2016</small>
          </div>
        </header>
        <hr class="m-b-0 m-t-0">
        <div class="clearfix"></div>
        <section class="blog-content truncate truncate-5 p-l-1 p-r-1 p-t-1 m-b-1" ng-bind="entry.content"></section>
        <a class="btn btn-info b-r-0 m-l-2 m-y-1 pull-xs-left"><i class="ion-social-facebook"></i></a>
        <a class="btn btn-info b-r-0 m-y-1 m-x-1 pull-xs-left"><i class="ion-social-googleplus"></i></a>
        <a class="btn btn-info b-r-0 m-y-1 pull-xs-left"><i class="ion-social-twitter"></i></a>

        <a class="btn btn-info-outline m-a-1 pull-xs-right" ui-sref="app.default.blog({id: entry.id})">
          Continue Reading &nbsp;&rarr;
        </a>
        <div class="clearfix"></div>
        <!-- <hr ng-if="!$last"> -->
      </article>

      <div ng-if="blog.alert" class="alert" ng-class="blog.alert.success ? 'alert-success' : 'alert-danger'">
        {{ blog.alert.message }}
      </div>

      <article ng-if="blog.entry && !blog.entries" class="blog-container card">
        <header class="p-a-1">
          <h2 ng-if="!blog.editMode" ng-bind="blog.entry.title" class="m-b-1"></h2>
          <span class="pull-xs-right">
            <small ng-if="!blog.editMode">
              <button ng-click="blog.editMode = true" class="btn btn-sm btn-success-outline" href="#"><i class="ion-edit"></i>&nbsp; Edit</button>
            </small>
            <small ng-if="!blog.editMode">
              <button ng-click="#" class="btn btn-sm btn-danger-outline" href="#"><i class="ion-trash-b"></i>&nbsp; Delete</button>
            </small>
          </span>
          <form ng-submit="blog.editEntry(blog.entry)" ng-if="blog.editMode" class="form-inline">
            <div class="input-group">
              <input class="form-control form-control-md" type="text" ng-model="blog.entry.title">
              <span class="input-group-btn">
                <button class="btn btn-md btn-success-outline m-x-1" type="submit">Save</button> &nbsp;
                <button ng-click="blog.editMode = false" class="btn btn-md btn-warning-outline b-r-0" type="button">Cancel</button>
              </span>
            </div>
          </form>
          <div class=" m-t-1">
            <img src="http://placehold.it/50/373A3C/ffffff" class="img-circle pull-xs-left m-r-1" alt="" />
            <p class="m-b-0"><small class="display-5 m-t-2">Posted By: TORO Dev</small></p>
            <small class="display-6 m-t-2">Posted on: February 10, 2016</small>
          </div>
        </header>
        <div class="clearfix"></div>
        <section ng-if="!blog.editMode" class="blog-content p-a-1" ng-bind="blog.entry.content"></section>
        <form ng-submit="blog.editEntry(blog.entry)" ng-if="blog.editMode" class="p-a-1">
          <div class="form-group">
            <textarea ng-model="blog.entry.content" id="edit-blog-editor" class="form-control" rows="6"></textarea>
          </div>
          <div class="text-xs-right form-group">
            <button class="btn btn-success-outline b-r-0" type="submit">Save</button>
            <button ng-click="blog.editMode = false" class="btn btn-warning-outline b-r-0" type="button">Cancel</button>
          </div>
        </form>
        <span ng-if="!blog.editMode">
          <a class="btn btn-info b-r-0 m-l-2 m-y-1 pull-xs-left"><i class="ion-social-facebook"></i></a>
          <a class="btn btn-info b-r-0 m-y-1 m-x-1 pull-xs-left"><i class="ion-social-googleplus"></i></a>
          <a class="btn btn-info b-r-0 m-y-1 pull-xs-left"><i class="ion-social-twitter"></i></a>
        </span>
        <div class="clearfix"></div>
      </article>

      <div class="block" ng-if="blog.entries && blog.entries.length <= 0">
        <h2>No blogs at the moment</h2>
        <a class="btn btn-info btn-md m-t-2" ui-sref="app.post">
          <i class="ion-document"></i> &nbsp;Create one now
        </a>
      </div>
    </div><!-- end of .col-xs-12.col-sm-9 -->

    <div class="col-xs-12 col-md-4 col-lg-3">
      <div class="card blog-container b-r-0 m-b-2">
        <div class="card-header b-r-0 p-a-1">
          <h3 class="text-xs-center m-b-0 ">Author</h3>
        </div>
        <div class="card-block">
          <img class="img-circle center-block img-fluid" ng-src="http://placehold.it/150/e8117f/ffffff" alt="">
          <p class="text-xs-center m-t-1 m-b-0">TORO Devs</p>
          <p class="text-xs-center">
            <small>Awesome Developers</small>
          </p>
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div> <!-- end of card -->

      <div class="card blog-container b-r-0 m-b-2" ng-if="blog.entries && blog.entries.length > 0">
        <div class="card-header b-r-0 p-a-1">
          <h3 class="text-xs-center m-b-0">Archive</h3>
        </div>
        <div class="card-block p-a-0">
          <ul class="list-group">
            <a class="list-group-item" ng-repeat="entry in blog.entries" ui-sref="app.default.blog({id: entry.id})">
              <p class="m-b-0 truncate truncate-1" ><span>{{ entry.title }}</span></p>
            </a>
          </ul>
        </div>
      </div> <!-- end of card -->

    </div> <!-- end of col-sm-3-->
  </div><!-- end of .row -->
</div><!-- end of .container-fluid -->
