<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div ng-show="view.alert" class="alert alert-danger m-t-3 m-b-3">
        <h5 class="m-b-1">Woops, Something went wrong.</h5>
      </div>
      <div class="blog-container  m-t-3">
        <div class="blog-header p-a-1">
          <h3>{{ view.blog.title }}</h3>
        </div>
        <div class="blog-content p-a-1">
          <p>{{ view.blog.content }}</p>
          <button ng-click="view.deleteBlog()" class="btn btn-default">Delete blog</button>
        </div>
      </div>
    </div>
  </div>
</div>
