<div class="container-fluid">

  <div class="header-title p-y-3">
    <h1 class="display-4">AppStart</h1>
    <p class="lead">
      A demo on how you can elegantly build web apps.
    </p>
    <a class="btn btn-success-outline" href="https://github.com/toro-io/hei-workshop" target="_blank">
      <i class="ion-social-github"></i> &nbsp;Fork it on Github
    </a>
  </div><!-- end of .header-title -->

  <div class="card card-inverse card-profile">
    <a ui-sref="app.default">
      <img class="card-img-top" src="http://86891a4008fe3b3a8226-f715328dc31d80fc82943252e3883cdc.r56.cf1.rackcdn.com/uikit/v2/img/docs/stormtroopr-1.jpg" width="100%" height="auto" alt="">
    </a>
    <div class="card-block">
      <img class="img-circle card-profile-picture img-fluid" ng-src="http://placehold.it/100/e8117f/ffffff" alt="">

      <div class="center-block text-xs-center p-t-3 p-b-2"  ng-if="currentUser">
        <p>Welcome back! &nbsp; <span ng-bind="currentUser | capitalize"></span></p>

        <div class="btn-group" >
          <a class="btn btn-warning-outline" ui-sref="app.post">
            <i class="ion-document"></i> &nbsp;New Post
          </a>
          <a class="btn btn-warning-outline" ui-sref="app.logout">
            <i class="ion-log-out"></i> &nbsp;Logout
          </a>
        </div>
      </div>

      <div class="center-block text-xs-center p-t-3 p-b-2" ng-if="!currentUser">
        <a class="btn btn-warning-outline" ui-sref="app.login">
          <i class="ion-log-out"></i> &nbsp;Login
        </a>
      </div>

    </div><!-- end of .card-block -->
  </div><!-- end of .card.card-inverse -->
</div><!-- end of .container-fluid -->
