
<div class="container p-y-2">
  <div class="row">
    <div class="col-xs-12 col-lg-9">
      <div class="blog-container  blog-list m-b-2">
        <div class="blog-header p-a-1">
          <h3>Title Goes here</h3>
        </div>
        <div class="blog-content p-a-1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum, illo inventore, explicabo veniam aspernatur, eos, vero dolorem repellat accusamus ipsa. Nesciunt quia doloribus fugit, reprehenderit, dolor doloremque sapiente beatae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum, illo inventore, explicabo veniam aspernatur, eos, vero dolorem repellat accusamus ipsa. Nesciunt quia doloribus fugit, reprehenderit, dolor doloremque sapiente beatae?</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="blog-container  blog-list m-b-2">
        <div class="blog-header p-a-1">
          <h3>Title Goes here</h3>
        </div>
        <div class="blog-content p-a-1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum, illo inventore, explicabo veniam aspernatur, eos, vero dolorem repellat accusamus ipsa. Nesciunt quia doloribus fugit, reprehenderit, dolor doloremque sapiente beatae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum, illo inventore, explicabo veniam aspernatur, eos, vero dolorem repellat accusamus ipsa. Nesciunt quia doloribus fugit, reprehenderit, dolor doloremque sapiente beatae?</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="blog-container  blog-list m-b-2">
        <div class="blog-header p-a-1">
          <h3>Title Goes here</h3>
        </div>
        <div class="blog-content p-a-1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum, illo inventore, explicabo veniam aspernatur, eos, vero dolorem repellat accusamus ipsa. Nesciunt quia doloribus fugit, reprehenderit, dolor doloremque sapiente beatae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum, illo inventore, explicabo veniam aspernatur, eos, vero dolorem repellat accusamus ipsa. Nesciunt quia doloribus fugit, reprehenderit, dolor doloremque sapiente beatae?</p>
          <a href="#">Read more</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-3">
      <div class="blog-container m-b-2">
        <div class="blog-header p-a-1">
          <h3>Blog Archive</h3>
        </div>
        <div class="blog-content">
          <ul class="list-group">
            <a href="#" class="list-group-item"><p>Dapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis in</p></a>
            <a href="#" class="list-group-item"><p>Morbi leo risus</p></a>
            <a href="#" class="list-group-item"><p>Porta ac consectetur ac</p></a>
            <a href="#" class="list-group-item"><p>Vestibulum at eros</p></a>
            <a href="#" class="list-group-item"><p>Dapibus ac facilisis in</p></a>
            <a href="#" class="list-group-item"><p>Morbi leo risus</p></a>
            <a href="#" class="list-group-item"><p>Porta ac consectetur ac</p></a>
            <a href="#" class="list-group-item"><p>Vestibulum at eros</p></a>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- end of .row -->
</div><!-- end of .container.p-y-3 -->
