
  <div class="block-wrapper">
    <div class="block-wrapper-content p-t-3">

      <div class="card">
        <div class="card-header">Sign In to Dashboard</div>
        <form name="loginForm" ng-valid ng-submit="login.initLogin(loginForm.$valid)" class="card-block p-t-3" novalidate>

          <!-- Validation Message Status -->
          <div ng-show="login.alert" class="alert alert-danger m-b-3" style="margin-top: -20px;">
            <h5 class="m-b-1">Woops, Something went wrong.</h5>
            <ul>
              <li ng-if="loginForm.username.$error">
                <small>Looks like the username you have entered is incorrect.</small>
              </li>
              <li ng-if="loginForm.password.$error">
                <small>Looks like the password you have entered is incorrect.</small>
              </li>
            </ul>
          </div>

          <fieldset class="form-group" ng-class="{ 'has-danger': (loginForm.username.$touched && loginForm.username.$invalid) || login.alert }">
            <label class="sr-only">Username</label>
            <div class="input-group">
              <input type="text" name="username" class="form-control form-control-lg" placeholder="Username" required
                ng-model="login.ngModel.username"
                ng-class="{ 'form-control-danger': (loginForm.username.$touched && loginForm.username.$invalid) || login.alert}">
              <span class="input-group-addon" id="basic-addon1"><i class="ion ion-person"></i></span>
            </div>
            <small class="center-block p-y-1 text-danger text-sm-right"
              ng-messages="loginForm.username.$error"
              ng-if="loginForm.username.$touched && loginForm.username.$invalid">
              A Username is required to login.
            </small>
          </fieldset>

          <fieldset class="form-group" ng-class="{ 'has-danger': (loginForm.password.$touched && loginForm.password.$invalid) || login.alert }">
            <label class="sr-only">Password</label>
            <div class="input-group">
              <input type="password" name="password" class="form-control form-control-lg" placeholder="Password" required
                ng-model="login.ngModel.password"
                ng-class="{ 'form-control-danger': (loginForm.password.$touched && loginForm.password.$invalid) || login.alert }">
              <span class="input-group-addon" id="basic-addon1" style="padding-bottom: 9px; padding-top: 10px;"><i class="ion ion-android-lock"></i></span>
            </div>
            <small class="center-block p-y-1 text-danger text-sm-right"
              ng-messages="loginForm.password.$error"
              ng-if="loginForm.password.$touched && loginForm.password.$invalid">
              A Password is required to login.
            </small>
          </fieldset>

          <div class="form-group text-xs-center m-y-3">
            <button type="submit" class="btn btn-lg btn-default">
              Sign in to Dashboard
            </button>
          </div>

          <div class="form-group m-t-3">
            <a class="" href="#">Trouble Signing In?</a>
            <a class="pull-xs-right" href="#">No Account? Sign Up here.</a>
          </div>

        </form><!-- end of .card-block -->
      </div><!-- end of .card -->

      <ng-include src="'/views/footer.html'"></ng-include>
    </div><!-- end of .block-wrapper-content -->
  </div><!-- end of .block-wrapper block-wrapper-cover -->
