<div class="container-fluid m-t-3">
  <div class="row">
    <div class="col-xs-12">
      <div ng-show="post.alert" class="alert alert-danger m-t-1 m-b-3">
        <h5 class="m-b-1">Woops, Something went wrong.</h5>
      </div>
      <div class="blog-container m-t-1">
        <div class="blog-header p-a-1">
          <h1>Create new blog</h1>
        </div>
        <hr class="m-t-0">
        <div class="blog-content">
          <form name="postBlogForm" ng-submit="post.postBlog()" class="card-block p-b-3">
            <div class="new-blog-title">
              Title
              <input class="form-control m-b-1 b-r-0" ng-model="post.newBlog.title" type="text" placeholder="Enter blog title here" required>
            </div>
            <div class="new-blog-content">
              Content
              <textarea id="postBlogEditor"></textarea>
            </div>
            <button type="submit" class="btn btn-success-outline pull-right m-t-1"><i class="ion-document-text"></i> Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
