<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-9">
      <article  ng-repeat="blog in blogs" class="card m-b-2 b-r-0">
        <header class="p-a-1 b-r-0">
          <img src="http://placehold.it/50/373A3C/ffffff" class="img-circle pull-xs-left m-r-1" alt="" />
          <a href="/view/{{ blog.id }}">
            <h3 class="truncate truncate-1 m-b-0">{{ blog.title }}</h3>
          </a>
          <small class="display-5 m-t-2">Posted By: TORO Dev</small> | <small class="display-6 m-t-2"> February 10, 2016</small>
        </header>
        <hr class="m-b-0 m-t-0">
        <div class="clearfix"></div>
        <section class="truncate truncate-3 p-x-1 p-t-1 m-b-1" ng-bind-html="blog.content"></section>
        <small class="pull-xs-left m-l-1 m-t-1 ">Share on: </small>
        <a class="btn btn-info m-t-1 m-l-1 pull-xs-left social-media-icons social-media-icons-facebook"><i class="ion-social-facebook"></i></a>
        <a class="btn btn-info m-t-1 pull-xs-left social-media-icons social-media-icons-google"><i class="ion-social-googleplus"></i></a>
        <a class="btn btn-info m-t-1 pull-xs-left social-media-icons social-media-icons-twitter"><i class="ion-social-twitter"></i></a>

        <a class="btn btn-info-outline m-a-1 pull-xs-right" href="/view/{{ blog.id }}">
         Continue Reading &nbsp;&rarr;
        </a>
        <div class="clearfix"></div>
        <!-- <hr ng-if="!$last"> -->
      </article>
    </div> <!--end of col-md-9-->

    <div class="col-xs-12 col-md-4 col-lg-3" ng-if="blogs.length > 0">
      <div class="card m-b-2">
        <div class="card-header text-xs-center">
          About the Author
        </div>
        <div class="card-block p-b-1">
          <div class="col-xs-offset-2 col-xs-8 col-lg-offset-0 col-lg-12">
            <img src="http://www.toro.io/cmsstatic/toro-log.png" class="img-fluid center-block m-b-1" alt="" />
          </div>
          <div class="clearfix"></div>
          <p>Enterprise class software that is dramatically easier to use, manage and deploy.</p>
          <p>Website: <a href="http://www.toro.io/" target="_blank">http://www.toro.io/</a></p>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="card b-r-0 m-b-2">
        <div class="card-header text-xs-center">
          Archive
        </div>
        <div class="card-block p-a-0">
          <ul class="list-group list-group-flush list-group-fixed">
            <a class="list-group-item b-r-0" ng-repeat="blog in blogs" href="/view/{{ blog.id }}">
              <p class="m-b-0 truncate truncate-1" ><span>{{ blog.title }}</span></p>
            </a>
          </ul>
        </div>
      </div> <!-- end of card -->

    </div> <!-- end of col-md-3-->
  </div>
</div>
